<html>
<head>
<style>
body {
    background-color: #d0e4fe;
}

h2 {
    color: red;
    text-align: center;
}
</style>

	
</head>
<body>
<div id="container" style="background-color:#EEEEEE;">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">Physics Calculator</h1>
<div align="right"><h><a href = "/" align = "right">Home</a></h></div>
</div>

<div id="menu" style="background-color:#FFD700;height:1000px; width:100px;float:left;">

<b>Menu</b><br>
<a href = "/resistance/">Resistance</a><br>
<a href = "/inductance/">Inductance</a><br>
<a href = "/capacitance/">Capacitance</a><br>
</div>

<div id="content" style="float:left;">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>