{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>Resistance</h1>
    <h2>Find the resistance from color codes.</h2>
</div>
<div class="content">
    <h2 class="content-subhead">Please enter the color codes:</h2>
	<form action="/resistance/" method="post" class="pure-form pure-form-stacked">{% csrf_token %}
		<table>
		{{ form.as_table}}
		</table>	
		<input type="submit" align = "right" value="Calculate" class="pure-button pure-button-active" />
	</form>

	<div style="border:1px solid #ccc; color: orange; margin-top:20px">
		<h2>The resistance is {{ res }} {{ p }} ohms +/- {{tolerance}}%</h2>
	</div>
</div>
{% endblock %}